img {
  width: 100px;
  height: 100px;
}

header {
  display: flex;
  position: flex;
  margin: 0 4em;
  padding: 10px;
  width: calc(100vw - 8em);
  color: #fff;
  background-color: rgba(37, 37, 37, 0.8);
  border-radius: 0 0 1em 1em;
  z-index: 2;
}
header .heading {
  flex-grow: 1;
  padding-top: 0.25em;
}
header nav {
  display: flex;
}

.nav-item {
  height: 1.5em;
  margin: 0 1.5em 0 0;
}

.nav-item a {
  font-size: 1.3em;
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.nav-item a:hover {
  color: #202b47;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: #d3d3d3;
}

.nav-item-login {
  height: 1.5em;
  margin: 0 1.5em 0 0;
}

.nav-item-login a {
  font-size: 1.3em;
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.nav-item-login a:hover {
  color: #202b47;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: #d3d3d3;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.main-cart-wrapper {
  display: flex;
  width: 90vw;
}

#cart-left-panel {
  display: flex;
  flex-wrap: wrap;
}

.item-in-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: outset 5px blue;

  background-color: lightgray;
  width: 200px;
  margin: 5px;
  padding: 10px;
}

#all-products-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.all-product-list {
  display: flex;
  justify-content: center;
  border: solid 1px black;
  background-color: red;
  width: 220px;
  margin: 5px;
}

.all-product-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  background-color: white;
  width: 200px;
  margin: 5px;
  padding: 10px;
}

.product-name-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: row-reverse;
}

#checkoutitem {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
